$icon-font-path: "../_vendor/bootstrap-sass-official/assets/fonts/bootstrap";
@import "../_vendor/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../_vendor/bootswatch-sass/cosmo/variables";
@import "../_vendor/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../_vendor/bootswatch-sass/cosmo/bootswatch";
@import "../_vendor/fluidbox/css/fluidbox.scss";

$width: 1200px;

.body {
  position: relative;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: $width;
}

.hero {
  height: 200px;
  background-image: image-url("fakin-šenk.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.navbar-wrapper {
  height: 50px;
  position: relative;
  z-index: 9999;
}

.navbar.affix {
  width: 100%;
  z-index: 9999;
  top: 0;
}

section {
  padding-top: 50px;
}

hr {
  border-top: 1px solid #000;
}

footer {
  padding-bottom: 20px;
  .karas {
    float: right;
  }
}

.pinkie {
  color: red;
}
